:root {
    --alpha-button-background: 1;
    --alpha-button-border: 1;
    --alpha-link: .85;
    --alpha-badge-border: .1;
    --focused-base-outline: .2rem solid rgba(var(--color-foreground), .5);
    --focused-base-outline-offset: .3rem;
    --focused-base-box-shadow: 0 0 0 .3rem rgb(var(--color-background)), 0 0 .5rem .4rem rgba(var(--color-foreground), .3)
}

.content-container {
    --border-radius: var(--text-boxes-radius);
    --border-width: var(--text-boxes-border-width);
    --border-opacity: var(--text-boxes-border-opacity);
    --shadow-horizontal-offset: var(--text-boxes-shadow-horizontal-offset);
    --shadow-vertical-offset: var(--text-boxes-shadow-vertical-offset);
    --shadow-blur-radius: var(--text-boxes-shadow-blur-radius);
    --shadow-opacity: var(--text-boxes-shadow-opacity);
    --shadow-visible: var(--text-boxes-shadow-visible)
}

.page-width {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1.5rem
}

.page-width.drawer-menu {
    max-width: 100%
}

.isolate {
    position: relative;
    z-index: 0
}

.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none
}

.hidden {
    display: none !important
}

.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal !important
}

.visually-hidden--inline {
    margin: 0;
    height: 1em
}

.text-body {
    font-size: 1.5rem;
    letter-spacing: .06rem;
    line-height: calc(1 + .8/var(--font-body-scale));
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight)
}

h1,
h2,
h3,
.h5 {
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-weight: var(--font-heading-weight);
    letter-spacing: calc(var(--font-heading-scale)*.06rem);
    color: rgb(var(--color-foreground));
    line-height: calc(1 + .3/max(1, var(--font-heading-scale)));
    word-break: break-word
}

h1 {
    font-size: calc(var(--font-heading-scale)*3rem)
}

h2 {
    font-size: calc(var(--font-heading-scale)*2rem)
}

h3 {
    font-size: calc(var(--font-heading-scale)*1.7rem)
}

.h5 {
    font-size: calc(var(--font-heading-scale)*1.2rem)
}

.caption {
    font-size: 1rem;
    letter-spacing: .07rem;
    line-height: calc(1 + .7/var(--font-body-scale))
}

.caption-large,
.field__input {
    font-size: 1.3rem;
    line-height: calc(1 + .5/var(--font-body-scale));
    letter-spacing: .04rem
}

@media screen and (max-width:749px) {
    .small-hide {
        display: none !important
    }
}

.left {
    text-align: left
}

.center {
    text-align: center
}

div:empty {
    display: none
}

.link {
    display: inline-block;
    border: none;
    box-shadow: none;
    text-decoration: underline;
    text-underline-offset: .3rem;
    color: rgb(var(--color-link));
    background-color: transparent;
    font-size: 1.4rem;
    font-family: inherit
}

.link--text {
    color: rgb(var(--color-foreground))
}

.full-unstyled-link {
    text-decoration: none;
    color: currentColor;
    display: block
}

details>* {
    box-sizing: border-box
}

@media (prefers-reduced-motion) {
    .motion-reduce {
        animation: none !important
    }
}

:root {
    --duration-short: 100ms;
    --duration-default: 200ms;
    --duration-announcement-bar: 250ms;
    --duration-medium: 300ms;
    --duration-long: 500ms;
    --duration-extra-long: 600ms;
    --duration-extra-longer: 750ms;
    --duration-extended: 3s;
    --ease-out-slow: cubic-bezier(0, 0, .3, 1);
    --animation-slide-in: slideIn var(--duration-extra-long) var(--ease-out-slow) forwards;
    --animation-fade-in: fadeIn var(--duration-extra-long) var(--ease-out-slow)
}

.icon-arrow {
    width: 1.5rem
}

h3 .icon-arrow {
    width: calc(var(--font-heading-scale)*1.5rem)
}

.animate-arrow .icon-arrow path {
    transform: translateX(-.25rem)
}

.svg-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px
}

.svg-wrapper>svg {
    height: 100%;
    width: 100%
}

summary {
    list-style: none;
    position: relative
}

summary .icon-caret {
    position: absolute;
    height: .6rem;
    right: 1.5rem;
    top: calc(50% - .2rem)
}

summary::-webkit-details-marker {
    display: none
}

.focus-none {
    box-shadow: none !important;
    outline: 0 !important
}

.button--secondary {
    --color-button: var(--color-secondary-button);
    --color-button-text: var(--color-secondary-button-text)
}

.button {
    --shadow-horizontal-offset: var(--buttons-shadow-horizontal-offset);
    --shadow-vertical-offset: var(--buttons-shadow-vertical-offset);
    --shadow-blur-radius: var(--buttons-shadow-blur-radius);
    --shadow-opacity: var(--buttons-shadow-opacity);
    --shadow-visible: var(--buttons-shadow-visible);
    --border-offset: var(--buttons-border-offset);
    --border-opacity: calc(1 - var(--buttons-border-opacity));
    border-radius: var(--buttons-radius-outset);
    position: relative
}

.button {
    min-width: calc(12rem + var(--buttons-border-width)*2);
    min-height: calc(4.5rem + var(--buttons-border-width)*2)
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0 3rem;
    font: inherit;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(var(--color-button-text));
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(var(--color-button), var(--alpha-button-background))
}

.button:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: var(--buttons-radius-outset);
    box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow), var(--shadow-opacity))
}

.button:after {
    content: "";
    position: absolute;
    top: var(--buttons-border-width);
    right: var(--buttons-border-width);
    bottom: var(--buttons-border-width);
    left: var(--buttons-border-width);
    z-index: 1;
    border-radius: var(--buttons-radius);
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-button-text), var(--border-opacity)), 0 0 0 var(--buttons-border-width) rgba(var(--color-button), var(--alpha-button-background))
}

.button--secondary:after {
    --border-opacity: var(--buttons-border-opacity)
}

.button,
.button-label {
    font-size: 1.5rem;
    letter-spacing: .1rem;
    line-height: calc(1 + .2/var(--font-body-scale))
}

.button--full-width {
    display: flex;
    width: 100%
}

.field__input {
    -webkit-appearance: none;
    appearance: none;
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-foreground));
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
    font-size: 1.6rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--inputs-radius);
    height: 4.5rem;
    min-height: calc(var(--inputs-border-width)*2);
    min-width: calc(7rem + var(--inputs-border-width)*2);
    position: relative;
    border: 0
}

.field:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--inputs-radius-outset);
    box-shadow: var(--inputs-shadow-horizontal-offset) var(--inputs-shadow-vertical-offset) var(--inputs-shadow-blur-radius) rgba(var(--color-shadow), var(--inputs-shadow-opacity));
    z-index: -1
}

.field:after {
    content: "";
    position: absolute;
    top: var(--inputs-border-width);
    right: var(--inputs-border-width);
    bottom: var(--inputs-border-width);
    left: var(--inputs-border-width);
    border: .1rem solid transparent;
    border-radius: var(--inputs-radius);
    box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-foreground), var(--inputs-border-opacity));
    z-index: 1
}

.field {
    position: relative;
    width: 100%;
    display: flex
}

.field__input {
    flex-grow: 1;
    text-align: left;
    padding: 1.5rem;
    margin: var(--inputs-border-width)
}

.field__label {
    font-size: 1.6rem;
    left: calc(var(--inputs-border-width) + 2rem);
    top: calc(1rem + var(--inputs-border-width));
    margin-bottom: 0;
    position: absolute;
    color: rgba(var(--color-foreground), .75);
    letter-spacing: .1rem;
    line-height: 1.5
}

.field__input:-webkit-autofill~.field__label {
    font-size: 1rem;
    top: calc(var(--inputs-border-width) + .5rem);
    left: calc(var(--inputs-border-width) + 2rem);
    letter-spacing: .04rem
}

.field__input:-webkit-autofill {
    padding: 2.2rem 1.5rem .8rem 2rem;
    margin: var(--inputs-border-width)
}

.field__input::-webkit-search-cancel-button {
    display: none
}

.field__button {
    align-items: center;
    background-color: transparent;
    border: 0;
    color: currentColor;
    display: flex;
    height: 4.4rem;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 4.4rem
}

.field__button>.svg-wrapper {
    height: 2.5rem;
    width: 2.5rem
}

.field__input:-webkit-autofill~.field__button,
.field__input:-webkit-autofill~.field__label {
    color: #000
}

input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: .5rem
}

.modal__toggle {
    list-style-type: none
}

.modal__close-button.link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 4.4rem;
    width: 4.4rem;
    background-color: transparent
}

.modal__close-button .icon {
    width: 1.7rem;
    height: 1.7rem
}

.modal__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(var(--color-background));
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center
}

.utility-bar__grid .list-social {
    justify-content: flex-start;
    align-content: center;
    margin-left: -1.2rem;
    grid-area: social-icons
}

.announcement-bar,
.announcement-bar__announcement {
    color: rgb(var(--color-foreground));
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    grid-area: announcements
}

.localization-wrapper {
    grid-area: language-currency;
    align-self: center;
    display: flex;
    justify-content: flex-end
}

.section-header.shopify-section-group-header-group {
    z-index: 3
}

.shopify-section-group-header-group {
    z-index: 4
}

.section-header~.shopify-section-group-header-group {
    z-index: initial
}

.header-wrapper {
    display: block;
    position: relative;
    background-color: rgb(var(--color-background))
}

.header {
    display: grid;
    grid-template-areas: "left-icons heading icons";
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center
}

.header__heading {
    margin: 0;
    line-height: 0
}

.header__heading,
.header__heading-link {
    grid-area: heading;
    justify-self: center
}

.header__heading-link {
    display: inline-block;
    padding: .75rem;
    text-decoration: none;
    word-break: break-word
}

.header__heading-logo {
    height: auto;
    max-width: 100%
}

.header__heading-logo-wrapper {
    width: 100%;
    display: inline-block
}

@media screen and (max-width:989px) {

    .header__heading,
    .header__heading-link {
        text-align: center
    }
}

.header__icons {
    display: flex;
    grid-area: icons;
    justify-self: end;
    padding-right: .8rem
}

.header__icon:not(.header__icon--summary),
.header__icon span {
    display: flex;
    align-items: center;
    justify-content: center
}

.header__icon {
    color: rgb(var(--color-foreground))
}

.header__icon span {
    height: 100%
}

.header__icon .svg-wrapper {
    width: 44px;
    height: 44px
}

.header__icon::after {
    content: none
}

.header__icon .icon {
    height: 2rem;
    width: 2rem;
    fill: none;
    vertical-align: middle
}

.header__icon,
.header__icon--cart .icon {
    height: 4.4rem;
    width: 4.4rem;
    padding: 0
}

.header__icon--cart {
    position: relative;
    margin-right: -1.2rem
}

details .header__icon-close {
    display: none
}

account-icon {
    display: flex
}

.header>.header__search {
    grid-area: left-icons;
    justify-self: start
}

.header--top-center header-drawer {
    grid-area: left-icons
}

.header__search {
    display: inline-flex;
    line-height: 0
}

.search-modal {
    opacity: 0;
    border-bottom: .1rem solid rgba(var(--color-foreground), .08);
    min-height: calc(100% + var(--inputs-margin-offset) + (2*var(--inputs-border-width)));
    height: 100%
}

.search-modal__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 5rem 0 1rem;
    line-height: calc(1 + .8/var(--font-body-scale));
    position: relative
}

.search-modal__content-bottom {
    bottom: calc((var(--inputs-margin-offset)/2))
}

.search-modal__form {
    width: 100%
}

.search-modal__close-button {
    position: absolute;
    right: .3rem
}

.header__icon--menu .icon {
    display: block;
    position: absolute;
    opacity: 1;
    transform: scale(1)
}

details:not([open])>.header__icon--menu .icon-close {
    visibility: hidden;
    opacity: 0;
    transform: scale(.8)
}

.header__inline-menu {
    margin-left: -1.2rem;
    grid-area: navigation;
    display: none
}

.gradient {
    background: rgb(var(--color-background));
    background: var(--gradient-background);
    background-attachment: fixed
}

@media screen and (forced-colors:active) {
    .icon {
        color: CanvasText;
        fill: CanvasText !important
    }
}

.content-container {
    border-radius: var(--text-boxes-radius);
    border: var(--text-boxes-border-width) solid rgba(var(--color-foreground), var(--text-boxes-border-opacity));
    position: relative
}

.content-container:after {
    content: "";
    position: absolute;
    top: calc(var(--text-boxes-border-width)*-1);
    right: calc(var(--text-boxes-border-width)*-1);
    bottom: calc(var(--text-boxes-border-width)*-1);
    left: calc(var(--text-boxes-border-width)*-1);
    border-radius: var(--text-boxes-radius);
    box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset) var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
    z-index: -1
}

.content-container--full-width:after {
    left: 0;
    right: 0;
    border-radius: 0
}

@media screen and (max-width:749px) {
    .content-container--full-width-mobile {
        border-left: none;
        border-right: none;
        border-radius: 0
    }

    .content-container--full-width-mobile:after {
        display: none
    }
}

.content-container--full-width {
    border-radius: 0;
    border-left: none;
    border-right: none
}

@media (forced-colors:active) {
    .button {
        border: transparent solid 1px
    }
}

.rte:after {
    clear: both;
    content: "";
    display: block
}

.rte>*:first-child {
    margin-top: 0
}

.rte>*:last-child {
    margin-bottom: 0
}

@media (prefers-reduced-motion:no-preference) {
    .scroll-trigger.animate--slide-in {
        opacity: .01
    }

    .scroll-trigger.animate--slide-in {
        transform: translateY(2rem)
    }

    .scroll-trigger:not(.scroll-trigger--offscreen).animate--slide-in {
        animation: var(--animation-slide-in);
        animation-delay: calc(var(--animation-order)*75ms)
    }
}

.loading__spinner {
    position: absolute;
    z-index: 1;
    width: 1.8rem
}

.loading__spinner {
    width: 1.8rem;
    display: inline-block
}

.spinner {
    animation: rotator 1.4s linear infinite
}

@keyframes rotator {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(270deg)
    }
}

.path {
    stroke-dasharray: 280;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: rgb(var(--color-foreground));
    animation: dash 1.4s ease-in-out infinite
}

@media screen and (forced-colors:active) {
    .path {
        stroke: CanvasText
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 280
    }

    50% {
        stroke-dashoffset: 75;
        transform: rotate(135deg)
    }

    100% {
        stroke-dashoffset: 280;
        transform: rotate(450deg)
    }
}

.spinner {
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center
}

.spinner::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    border: 5px solid transparent;
    border-top: 5px solid #000;
    border-radius: 50%;
    animation: spin 1s linear infinite
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.insp-landing-dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 12px
}
